@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.FormPage form {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
}

.FormPage h1 {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 50px;
  border-bottom: 1px solid #00e64d;
  font-size: 40px;
  color: #00e64d;
  font-family: 'Press Start 2P', cursive;
  background-color: #1a1a1a;
}

.FormPage h2{
  color: #00e64d;
  font-weight: bold;
}

.FormPage button[type="button"] {
  background: black;
  border: 1px solid #00e64d;
  color:#00e64d;
  font-weight: bold;
  border-radius: 20%;
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}

.FormPage input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.FormPage label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: #00e64d;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.FormPage input[type="submit"] {
  background: #00e64d;
  color: #1a1a1a;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 10px;
}

.FormPage input[type="submit"]:hover {
  opacity: 0.7;
}

.FormPage input[type="button"]:active,
.FormPage input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.FormPage input:disabled {
  opacity: 0.4;
}

.FormPage input[type="button"]:hover {
  transition: 0.3s all;
}

.FormPage input[type="button"],
.FormPage input[type="submit"] {
  -webkit-appearance: none;
}

.FormPage{
  background: #1a1a1a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
