:root {
    --blue: #3e64ff;
    --green: #009933;
    --red: #cc0000;
    --pink: #cc0066;
}

a, a:focus,
.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active,
.ftco-navbar-light .navbar-toggler:hover,
.ftco-navbar-light .navbar-toggler:focus,
.slider-text .subheading,
.slider-text h2 span,
.slider-text .breadcrumbs span a,
.slider-text .breadcrumbs span a:hover,
.slider-text .breadcrumbs span a:focus,
.slider-text .breadcrumbs span a:hover i,
.slider-text .breadcrumbs span a:focus i,
.mouse-wheel,
.ftco-about .counter-wrap .text p span.number,
#navi li a:active,
.page .heading,
.resume-wrap .date
{
  color: var(--green);
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span:before,
.navbar-brand:after,
.hero-wrap .overlay,
.btn.btn-primary,
#navi li a:active:after,
.resume-wrap .icon,
.progress-bar,.progress-bar:after,
.project .overlay {
  background: var(--green);
}


@media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        color: var(--green);
    }
}

.ftco-navbar-light.scrolled .nav-item.active > a,
.ftco-navbar-light.scrolled .nav-link.active {
    color: var(--green) !important;
}

.btn.btn-primary {
    border: 1px solid var(--green) !important;
}

.btn.btn-primary:hover {
    border: 1px solid var(--green) !important;
    background: var(--green) !important;
}
